<!DOCTYPE HTML>
<!--
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ .Site.Title }}</title>
		<meta charset="utf-8">
		<base href="{{ .Site.BaseURL }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/custom.css">
		<link rel="stylesheet" href="libs/leaflet/leaflet.css">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css"></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">
				<!-- Main -->

				<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
					<div class="content">
						<p class="language-picker">
							{{ range $.Site.Home.AllTranslations }}
							  <a href="{{ .Permalink }}"><img src="{{ .Language.Params.Image }}"></a>&nbsp;
							{{ end }}
						</p>
						<h2>{{ .Site.Title }}</h2>
						<p class="major">{{ .Content | plainify }}</p>
						<ul class="actions stacked">
							<li><a href="#network" class="button big wide smooth-scroll-middle">{{ i18n "learn_more" }}</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="images/fablab-oulu-flat.jpg" alt="{{ .Site.Title }}">
					</div>
				</section>

				<!-- Network -->
				
				{{ with .Site.GetPage "/network" }}
				<section id="network" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>{{ .Title }}</h2>
						{{ .Content }}
						<ul class="actions stacked">
							<li><a href="#audience" class="button big wide smooth-scroll-middle">{{ i18n "learn_more" }}</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="images/fablabs-suomi-meeting.jpg" alt="">
						<div id="map" style="height:100%">
							<!--Leaflet is used to generate this one -->
						</div>
					</div>
				</section>
				{{ end }}

				<!-- Audience -->

				{{ with .Site.GetPage "/audience" }}
				<section id="audience" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>{{ .Title }}</h2>
						{{ .Content }}
						<ul class="actions stacked">
							<li><a href="#activities" class="button big wide smooth-scroll-middle">{{ i18n "get_involved" }}</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="images/fablab-oulu-discussion.jpg" alt="">
					</div>
				</section>
				{{ end }}

				<!-- Meetings -->

				<section id="activities" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<div class="col-md-6">
							<h2>{{ i18n "upcoming_activities" }}</h2>
							  {{ with .GetPage "/activities" }}
							  <ul>
								{{ range sort .Params.Meetings "date" "asc" }}    
								  <li>{{ .date }} {{ .time }}: {{ .title }}, {{ i18n "host" }}: {{ .host }}</li>
								{{ end }}
							  </ul>
							  {{ end }}
						  </div>
						<ul class="actions stacked">
							<li><a href="#contact" class="button big wide smooth-scroll-middle">{{ i18n "get_in_touch" }}</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="images/fablabs-suomi-meeting.jpg" alt="">
						<div id="map" style="height:100%">
							<!--Leaflet is used to generate this one -->
						</div>
					</div>
				</section>

				<!--
				<section>
					{{ with .Site.GetPage "/projects" }}
						{{ range .Pages }}
							<div>{{ .Title }}
								<img src="{{ .RelPermalink }}/{{ .Params.Image }}" alt="">
								<a href="{{ .Params.Link }}">Access project</a>
							</div>
						{{ end }}
					{{ end }}
				</section>
				-->
				
				<!-- Contact -->

				<section id="contact" class="wrapper style1 align-center">
					<div class="inner medium">
						<header>
							<h2>{{ i18n "get_in_touch" }}</h2>
						</header>
						<form action="https://formsubmit.co/29f690fc1f70dc7c4041f24935bf4b11" method="POST">
							<input type="hidden" name="_subject" value="New Message from fablabs.fi Website!">
							<input type="text" name="_honey" style="display:none">
							<div class="fields">
								<div class="field half">
									<label for="name">{{ i18n "name" }}</label>
									<input type="text" name="name" id="name" value="">
								</div>
								<div class="field half">
									<label for="email">{{ i18n "email" }}</label>
									<input type="email" name="email" id="email" value="">
								</div>
								<div class="field">
									<label for="message">{{ i18n "message" }}</label>
									<textarea name="message" id="message" rows="6"></textarea>
								</div>
							</div>
							<ul class="actions special">
								<li><input type="submit" name="submit" id="submit" value="{{ i18n "send_message" }}"></li>
							</ul>
						</form>
					</div>
				</section>

				<!-- Footer -->
				<footer class="wrapper style1 align-center">
					<div class="inner">
						<ul class="icons">
							<!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>-->
							<li><a href="{{ .Site.Params.Facebook.Url }}" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
							<!--<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>-->
							<!--<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>-->
							<!--<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
						</ul>
						
						<p>&copy; {{ .Site.Title }}. Design: <a href="https://html5up.net">HTML5 UP</a>. <a href="https://www.flaticon.com/free-icons/uk-flag">UK</a> and <a href="https://www.flaticon.com/free-icons/finland">FI</a> flag icons created by Freepik - Flaticon</p>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

		<script type="text/javascript" src="libs/leaflet/leaflet.js"></script>
		<script type="text/javascript">
		  var map = L.map('map').setView([62.845, 26.06], 5);		
		  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		      maxZoom: 17,
		      id: 'mapbox/streets-v11',
		      tileSize: 512,
		      zoomOffset: -1,
		      accessToken: 'pk.eyJ1Ijoia3Jpd2tyb3ciLCJhIjoiY2t3ejFib3RrMDB5eDJ2bzV4eWdmMmlsZyJ9.sT9b8zWBKKcTLFAtRg-62g'
		  }).addTo(map);		
		  {{ range .Site.Params.Labs }}
		      L.marker({lat: {{ .lat }}, lng: {{ .lng  }} }).addTo(map)
		        .bindPopup('{{ with .website }}<a href="{{ . }}" target="_blank" title="Open website">{{ end }}{{ .name }}{{ with .website }}</a>{{ end }}{{ with .address }}<br>{{ . }}{{ end }}')
		        .openPopup();
		  {{ end }}
		</script>

	</body>
</html>