<!doctype html>
<html class="no-js" lang="en-gb">

<head>
  <title>{{ .Page.Title }}</title>
  <base href="{{ .Site.BaseURL }}">

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ .Page.Title }}">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="libs/leaflet/leaflet.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="img/FablabsSuomiLogo_Plain.svg" alt="{{ .Page.Title }}"></a>
      <button
        class="navbar-toggler"
        type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="d-flex">
          <ul class="navbar-nav">
            {{ range $.Site.Home.AllTranslations }}
            <li class="nav-item px-lg-1">
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

    </div>
  </nav>

  <header>
    <div class="content">
      <h1 class="title">{{ .Page.Title }}</h1>
      <p class="subtitle">{{ .Content | plainify }}</p>
    </div>
  </header>

  <main>
    <div class="container">
      <!--
      <section id="about" class="p-5">
        {{ with .GetPage "/about" }}
          <h2>{{ .Title }}</h2>
          {{ .Content }}
        {{ end }}
      </section>
      -->

      <div class="row">

        <div class="col-md-6">
          <h2>{{ i18n "active_labs" }}</h2>
          <div id="map">
            <!--Leaflet is used to generate this one -->
          </div>
          <!--<ul>
            {{ range .Site.Params.Labs }}
              <li>
                {{ with .website }}<a href="{{ . }}">{{ end }}{{ .name }}{{ with .website }}</a>{{ end }}
                {{ with .location }}<br>Location: {{ . }}{{ end }}
              </li>
            {{ end }}
          </ul>-->
        </div>

        <div class="col-md-6">
          <h2>{{ i18n "upcoming_activities" }}</h2>
            {{ with .GetPage "/activities" }}
            <ul>
              {{ range sort .Params.Meetings "date" "asc" }}    
                <li>{{ .date }} {{ .time }}: {{ .title }}, {{ i18n "host" }}: {{ .host }}</li>
              {{ end }}
            </ul>
            {{ end }}
        </div>

      </div>
    </div>
  </main>

  <footer class="container-fluid p-3">
    <p>&copy; fablabs.fi {{ now.Format "2006" }}</p>
  </footer>

  <!--<script src="js/vendor/modernizr-3.11.2.min.js"></script>-->
  <!--<script src="js/plugins.js"></script>-->
  <script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript" src="libs/leaflet/leaflet.js"></script>
  <script type="text/javascript">
    var map = L.map('map').setView([62.845, 26.06], 5);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 17,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoia3Jpd2tyb3ciLCJhIjoiY2t3ejFib3RrMDB5eDJ2bzV4eWdmMmlsZyJ9.sT9b8zWBKKcTLFAtRg-62g'
    }).addTo(map);

    {{ range .Site.Params.Labs }}
        L.marker({lat: {{ .lat }}, lng: {{ .lng  }} }).addTo(map)
          .bindPopup('{{ with .website }}<a href="{{ . }}" target="_blank" title="Open website">{{ end }}{{ .name }}{{ with .website }}</a>{{ end }}{{ with .address }}<br>{{ . }}{{ end }}')
          .openPopup();
    {{ end }}
  </script>
</body>

</html>
